<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/topbar.css" type="text/css"/>
    <link rel="stylesheet" href="/css/donate.css" type="text/css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <!--<nav class="customnavbar navbar-fixed-top">-->
        <!--<a class="customnavbar__home" href="#" th:href="@{/}">-->
            <!--<img class="customnavbar__logo" src="/img/logo.png" alt="logo"/>-->
            <!--<h1 class="customnavbar__heading" >TeamShips.io</h1>-->
        <!--</a>-->
        <!--<div id="navbar" class="collapse navbar-collapse">-->
            <!--<ul class="nav navbar-nav right-container">-->
                <!--<li>Logged in as <span id="mailvalue" sec:authentication="principal.username"> User</span></li>-->
                <!--<li><a href="/users">Scores</a></li>-->
                <!--<b><li><a href="/donate">Donate</a></li></b>-->
                <!--<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</nav>-->
    <!--<section class="donate-box">-->

        <!--<h1 class="donate__heading">People rise by lifting others</h1>-->
        <!--<h3 class="donate__subheading">Our team develops the project completely for free. </h3>-->
        <!--<h3 class="donate__subheading">You can help us build TeamShips by donating some money. </h3>-->
        <!--<form  class="donate-form" method="post"  action="/pay">-->
            <!--<label>Accepted Cards</label>-->
                <!--<div class="icon-container">-->
                    <!--<i class="fa fa-cc-visa" style="color:navy;"></i>-->
                    <!--<i class="fa fa-cc-amex" style="color:blue;"></i>-->
                    <!--<i class="fa fa-cc-mastercard" style="color:red;"></i>-->
                    <!--<i class="fa fa-cc-discover" style="color:orange;"></i>-->
                <!--</div>-->
                <!--<label for="price">Total</label>-->
                <!--<input type="text" id="price" name="price" value="10">-->
                <!--<label for="currency">Currency</label>-->
                <!--<input type="text" id="currency" name="currency" placeholder="Enter Currency">-->
                <!--<label for="method">Payment Method</label>-->
                <!--<input type="text" id="method" name="method" placeholder="Payment Method">-->
                <!--<label for="intent">Intent</label>-->
                <!--<input type="text" id="intent" name="intent" value="sale">-->
                <!--<label for="description">Payment Description</label>-->
                <!--<input type="text" id="description" name="description" placeholder="Payment Description">-->
            <!--<input type="submit" value="Continue to checkout" class="btn">-->
        <!--</form>-->
    <!--</section>-->


<div class="row">
    <div class="col-75">
        <div class="container">
            <form method="post"  action="/pay">
                <div class="col-50">
                    <h3>Payment</h3>
                    <label>Accepted Cards</label>
                    <div class="icon-container">
                        <i class="fa fa-cc-visa" style="color:navy;"></i>
                        <i class="fa fa-cc-amex" style="color:blue;"></i>
                        <i class="fa fa-cc-mastercard" style="color:red;"></i>
                        <i class="fa fa-cc-discover" style="color:orange;"></i>
                    </div>
                    <label for="price">Total</label>
                    <input type="text" id="price" name="price" value="10">
                    <label for="currency">Currency</label>
                    <select id="currency" name="currency">
                        <option value="USD">USD</option>
                        <option value="PLN">PLN</option>
                        <option value="EUR">EUR</option>
                    </select>
                    <label for="method">Payment Method</label>
                    <select id="method" name="method">
                        <option value="paypal">paypal</option>
                    </select>
                    <label for="intent">Intent</label>
                    <select id="intent" name="intent">
                        <option value="sale">sale</option>
                    </select>
                    <label for="description">Payment Description</label>
                    <input type="text" id="description" name="description" placeholder="Payment Description">

                </div>

                <input type="submit" value="Continue to checkout" class="btn">
            </form>
        </div>
    </div>
</div>

</body>
</html>