<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Registration and
                Login Module</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <h1>Registration and Login with Spring Boot, Spring Security,
        Thymeleaf, Hibernate and MySQL</h1>
    Welcome <span sec:authentication="principal.username"> User</span>
    <br/>
    <div class="content">
        <a th:href="@{/ship-add}" class="button">Add ship</a>
        <h2 th:if="${shipList.size() == 0}">Person Registry is empty</h2>
        <div th:unless="${shipList.size() == 0}">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th class="text">Id</th>
                    <th class="text">Kolor</th>
                    <th class="text">X</th>
                    <th class="text">Y</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ship : ${shipList}">
                    <td th:text="${ship.getId()}"></td>
                    <td th:text="${ship.getKolor()}"></td>
                    <td th:text="${ship.getX()}"></td>
                    <td th:text="${ship.getY()}"></td>
                    <td><a th:href="@{/ship-edit/{id}(id=${ship.getId()})}" class="button">Edit</a></td>
                    <td><a th:href="@{/ship-delete/{id}(id=${ship.getId()})}" class="button">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
