.main-bg{

    width: 100vw;
    height: 100vh;
    background-image: url("../img/login-bg.jpg");
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.mainbox__logo{
    font-family: 'Goldman', cursive;
    margin-bottom: 40px;
    margin-left: 25vw;

}
.mainbox__container{
    width: 50vw;
    height: 85vh;
    background-color: #fff;
    border: 1px solid #efefef;

    -webkit-box-shadow: 0px 0px 42px -4px rgba(204,192,204,1);
    -moz-box-shadow: 0px 0px 42px -4px rgba(204,192,204,1);
    box-shadow: 0px 0px 42px -4px rgba(204,192,204,1);
}
@media(max-width: 1300px) {
    .mainbox__container{
        height: 85vh;
        width: 60vw;
    }
}


.customnavbar{
    display: flex;
    justify-content: space-between;
    height: 7.5vh;
    background-color: white;
}

@media(min-width: 1900px) {
    .customnavbar{
        height: 5.5vh;
    }
}
a:link,a:visited,a:active{
    color: black;
    text-decoration: none;
}
.customnavbar__heading{
    font-size: 2rem;
    text-shadow: white 3px 3px 3px;
    padding: .5rem .5rem;
}
.right-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.5rem;
}
.customnavbar__home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem .5rem;
    font-family: 'Goldman', cursive;
}
.customnavbar__logo{
    width: 3rem;
    height: 3rem;
    padding: .5rem .5rem;
    margin-left: .75rem;
}