.skinpicker{
    width: 20rem;
    height: 30rem;
    backgroundcolor: grey;
    opacity: 1;
    display: block;
    position: absolute;
    top: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    right: 20vw;
}
.skinpicker__item{
    width: 5rem;
    height: 5rem;
    background-color: orangered;
    color: white;
}

.skinpicker-hidden{
    display: none;
    opacity: 0;
}